# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# PyCharm
.idea/

# VS Code
.vscode/

# Glue Output
data/output/*
!data/output/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# AWS
.aws/
